/* Samsung LH75W */
/* Section - Main content */
#UFMS {
  font-size: 2rem;
}

#UFMS-LOGO {
  margin-left: 4rem;
  width: 50%;
  height: 50%;
}

#main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Logotipo do Museu da Ciência */
#MUSEU-LOGO-DIV {
  width: 100%;
}
#MUSEU-LOGO {
  margin-top: 2rem;
  width: 50%;
  /* margin: 0 auto; */
  display: block;
}

/* Footer */

footer {
  width: 100%;
  padding-right: 10rem;
}
/* Apresentação */
#presentation {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-family: "Trebuchet MS", sans-serif;
}
#presentation h2 {
  color: #fff;
}
/* Botão - Iniciar aventura */
#BUTTONS {
  width: 100%;
  text-align: end;
}
.start {
  background-color: #0088b7;
  color: #fff;
  padding: 3rem 5rem;
  border-radius: 5rem;
  font-weight: 700;
  box-shadow: 20px 15px black;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 5.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.start:hover {
  background-color: #034256;
  color: white;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  /* Header (Regras específicas, se houver) */
  /* Removido o margin-bottom excessivo */

  /* Section - Main content */
  /* Logotipo do Museu da Ciência */
  #MUSEU-LOGO {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  /* Footer */
  footer {
    padding-right: 0;
    padding-bottom: 1rem;
  }
  /* Botão - Iniciar aventura */
  #BUTTONS {
    width: 100%;
    text-align: center;
  }
  .start {
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    box-shadow: 3px 1px black;
    font-size: 1rem;
    border: 2px solid black;
  }
}
/* Tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Header (Regras específicas, se houver) */
  /* Removido o margin-bottom excessivo */

  /* Section - Main content */
  /* Logotipo do Museu da Ciência */
  #MUSEU-LOGO {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  /* Footer */
  footer {
    padding-right: 0;
    padding-bottom: 1.5rem;
  }
  /* Botão - Iniciar aventura */
  #BUTTONS {
    width: 100%;
    text-align: center;
  }
  .start {
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    box-shadow: 3px 1px black;
    font-size: 2rem;
    border: 2px solid black;
  }
}
/* Desktop */
@media only screen and (min-width: 1025px) and (max-width: 2000px) {
  /* Header (Regras específicas, se houver) */

  /* Section - Main content */
  /* Logotipo do Museu da Ciência */
  #MUSEU-LOGO-DIV {
    width: 100%;
  }
  #MUSEU-LOGO {
    width: 35%;
  }

  /* Footer */

  footer {
    width: 100%;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
  /* Botão - Iniciar aventura */
  #BUTTONS {
    padding-bottom: 1rem;
  }
  .start {
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    box-shadow: 5px 5px black;
    font-size: 1.5rem;
    border: 3px solid black;
  }
}
