/* Celulares (largura máxima de 768px) */
@media only screen and (max-width: 768px) {
    body {
        background-size: cover;
    }

    main {
        padding-top: calc(60px + 1rem); /* Mantendo o padding-top para o conteúdo geral */
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 0;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0.3rem 0.5rem;
        flex-direction: column;
        height: auto;
        text-align: center;
        justify-content: center; /* Centraliza verticalmente o conteúdo da header */
    }

    #UFMS-LOGO-DIV {
        margin: 0 auto 0.2rem;
    }

    #UFMS {
        font-size: 0.9rem; /* Reduz ainda mais se necessário */
    }

    .back-button {
        padding-top: 0.2rem;
    }

    #back {
        font-size: 0.7rem; /* Reduz ainda mais se necessário */
        padding: 0.3rem 0.6rem;
        border-radius: 0.5rem;
        box-shadow: 1px 1px black;
    }

    #title {
        margin-top: calc(60px + 1.5rem); /* Mantendo a margem para o título */
    }

    .quadro {
        position: relative; /* Mantém como relative */
        top: auto;
        left: auto;
        transform: none;
        width: 95%;
        margin-top: calc(60px + 2rem); /* Adicionando margem superior para empurrar abaixo do header */
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        padding: 0.8rem; /* Reduz um pouco mais o padding interno */
        border-radius: 15px;
    }

    .quadro h1 {
        font-size: 1.4rem;
        margin-bottom: 0.3rem;
    }

    .quadro h2 {
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
    }

    .quadro p {
        font-size: 0.7rem;
        padding: 0.3rem;
    }

    .quadro .start {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
    }
}